<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compra de Productos</title>
</head>
<body>
<h1>Ingrese el producto a comprar</h1>
<form th:action="@{/valido}" th:object="${product}">
    <th>
        <select th:field="*{id}">
            <option th:each="p: ${products}" th:value="${p.id}" th:text="${p.nombre}"></option>
        </select>
    </th>
    <label>Cantidad a adquirir</label><input type="number" th:field="*{cantidad}">
    <input type="submit" value="Comprar">
</form>

<h2>Productos Disponibles</h2>
<thead>
<th>Id</th>
<th>Nombre</th>
<th>Cantidad</th>
</thead>
<br>
<th:block th:each="product, row: ${products}">
    <tr>
        <th th:text="${product.id}"></th>
        <th th:text="${product.nombre}"></th>
        <th th:text="${product.cantidad}"></th>
    </tr>
    <br>
</th:block>
</table>
<br>
</body>
</html>